# Game
GAME_EXE_PATH=D:\Games\Wuthering Waves\Wuthering Waves Game\Wuthering Waves.exe

DAILY_HOUR=5
DAILY_MINUTE=0

# WavesApi
WAVES_API_ENABLED=true
WAVES_ROLE_ID=100114514
WAVES_TOKEN=
WAVES_DID=


# Send Notice
NOTICE_ENABLED=false

# Notice routing (single var, supports comma-separated values)
# NOTICE_CHANNEL=mailgun,wxpusher
NOTICE_CHANNEL=mailgun,wxpusher
NOTICE_ACCOUNT_ID=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_RECIPIENT=

MAILGUN_USE_TEMPLATE=false
MAILGUN_TEMPLATE_DAILY=
MAILGUN_TEMPLATE_STAMINA=

# WxPusher simple-push
WXPUSHER_SPT=


# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=

SHEET_NAME_CONFIG=Config
SHEET_NAME_DAILY=DailyRuns
SHEET_NAME_STAMINA=StaminaRuns
SHEET_NAME_FASTFARM=5to1
